---
layout: splash
permalink: /
hidden: true
header:
  image: https://github.com/user-attachments/assets/826e9ea5-3264-4b4b-9a45-2ea5968e270b
intro: 
  - excerpt: '강화시스터즈는 이화여자대학교 교내 최초 강화학습 동아리로 2024년 3월에 시작되었습니다. <br> KanghwaSisters is Ewha Womans University’s first on campus RL club and was started in March 2024. '

feature_row:
  - image_path: https://github.com/user-attachments/assets/353e6147-1891-419a-8cc3-85a4bceeea80
    alt: "customizable"
    title: "이화여자대학교"
    excerpt: "강화시스터즈는 이화여자대학교 교내 동아리로, 구성원 전반의 프로젝트 관리 능력•코드 구현 능력 향상을 목표로 합니다."
    url: "https://www.ewha.ac.kr/ewha/index.do"
    btn_class: "btn--primary"
    btn_label: "바로가기"
  - image_path: https://github.com/user-attachments/assets/353e6147-1891-419a-8cc3-85a4bceeea80
    alt: "fully responsive"
    title: "지도 교수님"
    excerpt: "강화시스터즈는 학교에 정식 인가를 받은 동아리는 아니지만, 통계학과 주원영 교수님의 지도와 지원 하에 운영되고 있습니다."
    url: "https://ml.ewha.ac.kr/"
    btn_class: "btn--primary"
    btn_label: "바로가기"
  - image_path: https://github.com/user-attachments/assets/353e6147-1891-419a-8cc3-85a4bceeea80
    alt: "Git"
    title: "GitHub"
    excerpt: "강화시스터즈의 모든 프로젝트 코드와 내용은 동아리 깃허브에서 확인하실 수 있습니다. 공지나 세부적인 진행상황은 블로그에서 확인가능합니다. "
    url: "https://github.com/KanghwaSisters"
    btn_class: "btn—primary"
    btn_label: "Learn more"      

feature_row_left:
  - image_path: /assets/splash/feat1-1.jpg
    title: "이화여자대학교"
    excerpt: "Left-aligned image centered with"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row_right:
  - image_path: /assets/splash/feat1-2.jpg
    title: "Placeholder 1"
    excerpt: "Right-aligned image with ``"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row"  %}
{% include feature_row id="feature_row_left" type="left" %}
{% include feature_row id="feature_row_right" type="right" %}
