---
layout: splash
permalink: /
hidden: true
header:
  image: https://github.com/user-attachments/assets/826e9ea5-3264-4b4b-9a45-2ea5968e270b
intro: 
  - excerpt: '강화시스터즈는 이화여자대학교 교내 최초 강화학습 동아리로 2024년 3월에 시작되었습니다. <br> KanghwaSisters is Ewha Womans University’s first on campus RL club and was started in March 2024.'

feature_row:
  - title: "방향성"
    excerpt: "강화시스터즈는 프로젝트형 동아리입니다. 필요한 이론을 학습하고, 학기와 방학을 이용해 프로젝트를 진행합니다. 코드 필사 능력이 아닌, 실질적인 구현 능력과 디버깅 능력 향상을 목표로 합니다. 문제 해결 능력을 중요시해 문제 발생시 원인을 논리적으로 분석합니다. "

  - title: "활동 계획"
    excerpt: "내부 회의를 통해 학기 주제가 정해집니다. 중간고사 전후로 필요한 이론 공부 및 정리, 간단한 코드 스닙펫 구현 활동이 진행됩니다. 이후 팀을 나눠 방학까지 프로젝트를 진행하며 문제 상황 및 해결 방안 공유, 문제 원인 탐색 활동을 진행합니다. 팀 별 결과물을 발표하는 시간을 갖고, 한학기 동아리 활동을 담은 문집을 학기마다 발행합니다. "

  - title: "다루는 내용"
    excerpt: "강화학습과 딥러닝을 중심적으로 학습합니다. 강화학습의 경우, 고전적인 방법론부터 시작해 최신 학습 동향까지 폭넓게 다룹니다. 주요 활동으로는 이론 스터디, 코드 구현, 논문 리뷰가 있습니다. 딥러닝의 경우, 강화학습에 필요한 수준만을 다루기 때문에 딥러닝의 계보를 학습하거나 다양한 모델을 다루지는 않습니다. 하지만 딥러닝 구현에 필수적인 능력을 기르고, 중요한 개념들을 체계적으로 배워 가실 수 있습니다. "

feature_row_project:
  - image_path: https://github.com/user-attachments/assets/aa84a0b2-d939-4728-81fe-bf048881e49f
    title: "프로젝트"
    excerpt: "프로젝트는 게임(1인 플레이어 / 멀티 플레이어), 로보틱스, 이미지 비전과 같이 다양한 주제를 폭 넓게 다루고 있습니다.  또한 프로젝트의 완성도를 높이기 위해 패키지 구현, 웹 발행, 멀티 플레이어 게임의 경우 인간과 인터렉티브한 환경을 구성하고자 노력합니다. "
    url: "#test-link"
    btn_label: "바로가기"
    btn_class: "btn--primary"

feature_row_2:
  - image_path: https://github.com/user-attachments/assets/20c8c412-6552-4dd3-9582-ea1db1177af4
    title: "현재 활동"
    excerpt: "6개월 학기제인 강화시스터즈는 현재 2기 운영 중에 있습니다. "
    url: "https://ml.ewha.ac.kr/"
    btn_class: "btn--primary"
    btn_label: "바로가기"

  - image_path: https://github.com/user-attachments/assets/e117c304-bd6c-4a87-ad01-1ca8bf318621
    title: "구성원"
    excerpt: "역대 강화시스터즈의 운영진, 기수 별 구성원을 확인하실 수 있습니다. 메일과 깃허브를 통해 강화인들과 연락할 수 있으며 태그를 통해 강화인들이 동아리에서 작성한 글을 확인할 수 있습니다."
    url: "https://ml.ewha.ac.kr/"
    btn_class: "btn--primary"
    btn_label: "바로가기"

  - image_path: https://github.com/user-attachments/assets/ddb4cd0f-cec1-4560-9467-c6a4563de767
    title: "과거 활동"
    excerpt: "과거 강화시스터즈 활동이 어떻게 진행되었는지를 볼 수 있습니다. "
    url: "https://ml.ewha.ac.kr/"
    btn_class: "btn--primary"
    btn_label: "바로가기"

   
feature_row_left:
  - image_path: https://github.com/user-attachments/assets/996a67c9-5d5b-4ece-b8fc-d0083369fa78
    alt: "customizable"
    title: "지도 교수님"
    excerpt: "통계학과 주원영 교수님의  지도와 지원 하에 동아리가 운영되고 있습니다. 강화시스터즈는 소규모 동아리로 학교에 정식 인가를 받은 동아리는 아니지만, 정식 동아리에 못지 않은 지원을 받고 있습니다. "
    url: "https://ml.ewha.ac.kr/"
    btn_class: "btn--primary"
    btn_label: "바로가기"

contact_us:
  - excerpt: 강화시스터즈는 인스타그램, 깃허브, 깃블로그를 운영하고 있습니다. <br> 간략한 공지와 개괄적인 활동이 궁금하다면 인스타그램을, 동아리에서 구현된 코드 스니펫과 프로젝트가 궁금하다면 깃허브를, 운영진에게 연락이 필요하다면 하단의 바로가기를 눌러주세요. 

feature_row_contact:
  - image_path: https://github.com/user-attachments/assets/26feac77-3eb2-45f2-bc00-ceb679ffea11
    title: "인스타그램"
    url: "https://ml.ewha.ac.kr/"
    btn_class: "btn--primary"
    btn_label: "바로가기"

  - image_path: https://github.com/user-attachments/assets/c6922368-965a-4ba0-982d-2154d9435636
    title: "깃허브"
    url: "https://ml.ewha.ac.kr/"
    btn_class: "btn--primary"
    btn_label: "바로가기"

  - image_path: https://github.com/user-attachments/assets/ea91878c-ec74-4ee6-a484-80a347f773cb
    title: "현재 운영진"
    url: "https://ml.ewha.ac.kr/"
    btn_class: "btn--primary"
    btn_label: "바로가기"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row" %}
{% include feature_row id="feature_row_project" type="left" %}
{% include feature_row id="feature_row_2" %}
{% include feature_row id="feature_row_left" type="left" %}
{% include feature_row id="contact_us" type="center" %}
{% include feature_row id="feature_row_contact" %}

![image](https://github.com/user-attachments/assets/8ab4f07f-9ecc-4af3-94c5-f44e7c44765d)
![image](https://github.com/user-attachments/assets/4ec71131-5698-4267-9ab1-1b8dcf1ea06b)
![image](https://github.com/user-attachments/assets/e91d6c41-9ecf-4ccf-95a5-14267e0d61de)

![image](https://github.com/user-attachments/assets/aa84a0b2-d939-4728-81fe-bf048881e49f)

![image](https://github.com/user-attachments/assets/20c8c412-6552-4dd3-9582-ea1db1177af4)

![image](https://github.com/user-attachments/assets/e117c304-bd6c-4a87-ad01-1ca8bf318621)

![image](https://github.com/user-attachments/assets/ddb4cd0f-cec1-4560-9467-c6a4563de767)

![image](https://github.com/user-attachments/assets/996a67c9-5d5b-4ece-b8fc-d0083369fa78)

![image](https://github.com/user-attachments/assets/26feac77-3eb2-45f2-bc00-ceb679ffea11)

![image](https://github.com/user-attachments/assets/c6922368-965a-4ba0-982d-2154d9435636)

![image](https://github.com/user-attachments/assets/ea91878c-ec74-4ee6-a484-80a347f773cb)
